.close.fileupload-exists {color:#fdfdfd;text-shadow:none;}
.fileupload-preview.thumbnail {width: 200px; height: 150px;}
.fileupload-preview.fileupload-exists.thumbnail {max-width: 200px; max-height: 150px; line-height: 20px;}